

api testing
  POST /device
    case
      1 input valid, token valid, device found, moment found & valid
        --> 200 ok
          new token(old aid)
          relogin: false
          friends
          uuid
          pubnub_key

      2 input valid, token valid, device found, moment found & invalid
        --> 200 ok
          new token( new aid)
          relogin: true
          friends

      3 input valid, token valid, device found, moment not found
        --> 200 ok
          new token(new aid)
          relogin: true
          friends

      4 input valid, token valid, device not found
        --x 404 not found

      5 input valid, token = 'new'
        --> 201 created
          new token(new aid)
          relogin: true
          friends

      6 input valid, token invalid and is not 'new'
        --x 401 invalid request

      7 input invalid
        --x 400 invalid request

  POST /moment
    case
      1 input valid, token valid
        --> 202 accepted
          new_auth_token

      2 input valid, token invalid
        --x 401 not authorized

      3 input invalid
        --x 400 bad request

  PUT /moment
    case
      1 input valid, token valid, actor found, actor.health = 'establihed', moment no duplicate
        --> 201 created
          explore_list

      2 input valid, token valid, actor found, actor.health = 'establihed', moment duplicate
        --> 304 not modified

      3 input valid, token valid, actor found, actor.health = 'completed'
        --> 304 not modified

      3 input valid, token valid, actor found, actor.health = 'pending' or 'badimage'
        --> 400 bad request

      4 input valid, token valid, actor not found
        --> 404

      5 input valid, token invalid
        --x 401 not authorized

      6 input invalid
        --x 400 bad request

  POST moment/action
    case
      1 input valid, token valid, actor found, actor.status = 'completed', actor.relation[target_aid] found, actor.relation[target_aid].status = '1' //liked by target
      --> 201 created
        channel_id

      2 input valid, token valid, actor found, actor.status = 'completed', actor.relation[target_aid] found, actor.relation[target_aid].status = '0' //liked this target already
      --> 202 accepted

      3 input valid, token valid, actor found, actor.status = 'completed', actor.relation[target_aid] not found
      --> 202 accepted

      4 input valid, token valid, actor found, actor.status not 'completed'
      --x 403 forbidden

      5 input valid, token valid, actor not found
      --x 404 not found

      6 input valid, token invalid
      --x 401 not authorized

      7 input invalid
      --x 400 bad request
